a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-size: 30px;
  color: #3c3c3c;
  text-align: center;
}
.inner-lg {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}
.inner-md {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
.clear {
  clear: both;
}
.leftcol {
  float: left;
}
.rightcol {
  float: right;
}
.more {
  display: block;
  width: 127px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bgbutton.png') no-repeat center center;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
}
.more:hover {
  opacity: 0.85;
}
.more.btn-white {
  color: #607c8f;
  background: url('../img/bgwbutton.png') no-repeat center center;
  width: 184px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: lighter;
  color: #060606;
  background: #fff;
}
header,
footer,
#content,
#slider {
  width: 100%;
  position: relative;
}
header {
  background: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: 0;
  border-bottom: 3px solid #f0f0f0;
  min-width: 1240px;
  z-index: 10;
}
#logo {
  display: block;
  width: 272px;
  height: 96px;
  background: url('../img/logo.png') no-repeat center top;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -136px;
}
#topmenu {
  text-align: center;
  margin: 50px 0;
}
#topmenu .left-topmenu {
  float: left;
  margin-left: 75px;
}
#topmenu .right-topmenu {
  float: right;
  margin-right: 45px;
}
#topmenu .left-topmenu li,
#topmenu .right-topmenu li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
#topmenu .left-topmenu li a,
#topmenu .right-topmenu li a {
  font-size: 14px;
  color: #2a3c3e;
  padding: 5px 0;
}
#topmenu .left-topmenu li a:hover,
#topmenu .right-topmenu li a:hover,
#topmenu .left-topmenu li a.current,
#topmenu .right-topmenu li a.current {
  color: #2b7fab;
  border-bottom: 2px solid #3293c6;
}
#topbar {
  position: fixed;
  top: 10px;
  right: 40px;
  z-index: 11;
}
#topbar input[type=text] {
  float: left;
  padding: 5px 15px 10px 5px;
  width: 125px;
  height: 15px;
  color: #999;
  background-color: transparent;
  background: url('../img/bgsearch.png') no-repeat center left;
  -webkit-background-size: 100%;
  background-size: 100%;
  border: none;
  font-size: 12px;
  outline: none;
}
#topbar input[type=submit] {
  float: left;
  border: none;
  margin-left: -15px;
  height: 21px;
  width: 20px;
  background-color: transparent;
  outline: none;
}
#topsearch {
  float: left;
}
#lang {
  float: right;
  margin: 5px 0 0 10px;
}
#lang li {
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
}
#lang li a {
  font-size: 14px;
  color: #9b9b9b;
}
#lang li a:hover,
#lang li a.current {
  color: #3e3e3e;
}
#slider {
  overflow: hidden;
  height: 325px;
  min-width: 1240px;
}
#slider .slide {
  left: 50% !important;
  margin-left: -960px;
}
#slider .slide .slide-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
#slider .slide .slide-inner .slide-block {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -360px;
  width: 720px;
  height: 170px;
  background: rgba(255, 255, 255, 0.75);
}
#slider .slide .slide-inner .slide-block .slide-block-inner {
  width: 670px;
  height: 140px;
  padding: 10px 30px;
}
.slide-block-inner {
  text-align: center;
}
.slide-block-inner h3 {
  margin: 0 0 10px 0;
  height: 41px;
  overflow: hidden;
}
.slide-block-inner .textblock {
  height: 55px;
  margin-bottom: 10px;
}
#prewbutton,
#nextbutton {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  width: 16px;
  height: 34px;
  opacity: 0.3;
}
#prewbutton:hover,
#nextbutton:hover {
  opacity: 1;
}
#prewbutton {
  left: 10px;
  background: url('../img/sl.png') no-repeat center center;
}
#nextbutton {
  right: 10px;
  background: url('../img/sr.png') no-repeat center center;
}
#content {
  margin-top: 120px;
}
#container .first-block {
  background: url('../img/bgfblock.png') no-repeat center center;
}
#container .first-block .liders {
  width: 430px;
  padding: 60px 20px;
}
#container .first-block .liders .divider {
  width: 307px;
  height: 20px;
  margin: 20px auto;
  background: url('../img/bgdivider.png') no-repeat center center;
}
#container .first-block .reports {
  width: 460px;
  padding: 60px 5px;
}
#container .first-block .reports .one-report {
  margin-bottom: 20px;
}
#container .first-block .reports .one-report:last-child {
  margin-bottom: 0;
}
#container .first-block .reports h2 {
  font-size: 24px;
  margin-top: -10px;
  margin-bottom: 25px;
  color: #444;
}
#container .first-block .reports img {
  width: 54px;
  height: auto;
  max-height: 24px;
  margin-right: 10px;
  margin-top: 5px;
}
#container .first-block .reports a.title {
  color: #060606;
}
#container .first-block .reports a.title:hover {
  color: #246a8f;
}
#container .first-block .desc {
  text-align: center;
  width: 100px;
}
#container .first-block .cite {
  padding-left: 10px;
  width: 320px;
}
#container .first-block .cite p {
  margin-top: -5px;
  line-height: 18px;
}
#container .first-block .name {
  color: #4d5260;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  margin-bottom: 5px;
}
#container .first-block .pos {
  color: #7b7b7b;
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
}
#container .events {
  padding: 50px 0;
  background: url('../img/bgeblock.png') no-repeat center top #f9f9f9;
}
#container .events h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #5a5a5a;
}
#container .events #events-wrapper {
  width: 1730px;
  margin: 0 auto 40px auto;
}
#container .events #events-wrapper .one-event {
  vertical-align: top;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 235px;
  height: 450px;
  background: #fff;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#container .events #events-wrapper .one-event img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 235px;
  height: auto;
}
#container .events #events-wrapper .one-event .more {
  display: block;
  background: #fff;
  width: auto;
  color: #030303;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#container .events #events-wrapper .one-event .more:hover {
  color: #246a8f;
}
#container .events #events-wrapper .one-event:nth-child(7) {
  margin-right: 0;
}
#container .events #events-wrapper .event-content-inner {
  height: 385px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
}
#container .events #events-wrapper .event-info-inner {
  padding: 20px 10px 0 10px;
}
#container .events #events-wrapper .event-info-inner .title {
  color: #444;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
}
#container .events #events-wrapper .event-info-inner .title:hover {
  color: #246a8f;
}
#container .events #events-wrapper .event-info-inner .date {
  margin: 10px 0;
  font-size: 12px;
  color: #2c6188;
}
#container .events #events-wrapper .event-info-inner .textblock p {
  line-height: 19px;
}
#container .allevents #events-wrapper {
  width: 1730px;
  margin: 0 auto 40px auto;
}
#container .allevents #events-wrapper .one-event {
  height: auto;
  float: none;
  width: 235px;
}
#container .allevents #events-wrapper .one-event .event-content-inner {
  height: auto;
}
#container .tenprinciples {
  padding: 50px 0;
  background: url('../img/bgtenprinciples.png') no-repeat center center #ffffff;
}
#container .tenprinciples h2 {
  font-size: 36px;
  color: #5a5a5a;
  margin: 0;
}
#container .tenprinciples .divider {
  width: 84px;
  height: 20px;
  margin: 15px auto;
  background: url('../img/bgdivider2.png') no-repeat center center;
}
#container .tenprinciples h3 {
  font-size: 16px;
  color: #565656;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 15px;
}
#container .tenprinciples h3 + .textblock p {
  font-size: 12px;
  color: #565656;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  margin-bottom: 40px;
}
#container .tenprinciples .one-principle {
  width: 235px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  text-align: center;
}
#container .tenprinciples .one-principle .m-1 {
  margin-bottom: 25px;
}
#container .tenprinciples .one-principle .m-2 {
  margin-bottom: 11px;
}
#container .tenprinciples .one-principle h3 {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  color: #444;
  font-weight: normal;
}
#container .tenprinciples .one-principle h4 {
  font-weight: normal;
  font-size: 14px;
  color: #2a5f86;
  margin-bottom: 5px;
}
#container .tenprinciples .one-principle h4 + span {
  width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto 20px auto;
}
#container .join {
  padding: 50px 0;
  background: url('../img/bgjoin.png') no-repeat center center #246a8f;
}
#container .join h2 {
  font-size: 36px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
}
#container .join .textblock p {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 50px;
}
#container .partners {
  padding: 50px 0;
  background: #fff;
  border-bottom: 4px solid #3293c6;
}
#container .partners #partners {
  text-align: center;
  list-style: none;
}
#container .partners #partners li {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  text-align: center;
  width: 185px;
}
footer {
  padding: 30px 0;
  background: url('../img/bgfooter.png') no-repeat center center;
}
#bottommenu {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}
#bottommenu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
#bottommenu li a {
  font-size: 14px;
  color: #2a3c3e;
  padding: 5px 0;
}
#bottommenu li a:hover,
#bottommenu li a.current {
  border-bottom: 2px solid #3293c6;
}
#bottomlogo {
  display: block;
  width: 272px;
  height: 96px;
  background: url('../img/logo.png') no-repeat center top;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -136px;
}
#hodlogo {
  display: block;
  width: 96px;
  height: 64px;
  position: absolute;
  right: 30px;
  top: 80px;
  background: url('../img/hodlogo.png') no-repeat center center;
}
#copyrights {
  float: left;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 60px;
}
#copyrights p {
  margin-top: 5px;
  font-size: 11px;
  color: #818181;
}
@media screen and (max-width: 1750px) {
  #container .events #events-wrapper {
    width: 1235px;
  }
  .index #container .events #events-wrapper .one-event:nth-child(7),
  .index #container .events #events-wrapper .one-event:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 1260px) {
  header,
  #slider {
    min-width: 940px;
  }
  .inner-lg {
    width: 940px;
  }
  #topmenu .left-topmenu {
    margin-left: 0;
  }
  #topmenu .right-topmenu {
    margin-right: 0;
  }
  #logo {
    top: -115px;
  }
  #topmenu {
    margin: 130px 0 30px 0;
  }
  #content {
    margin-top: 180px;
  }
  #container .events #events-wrapper {
    width: 741px;
  }
  .index #container .events #events-wrapper .one-event:nth-child(5),
  .index #container .events #events-wrapper .one-event:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .inner-lg,
  .inner-md {
    width: 740px;
  }
  #slider,
  header {
    min-width: 740px;
  }
  #topmenu .left-topmenu,
  #topmenu .right-topmenu {
    float: none;
  }
  #topmenu .left-topmenu li,
  #topmenu .right-topmenu li {
    display: block;
    margin: 0;
    margin-bottom: 15px;
  }
  #topmenu .left-topmenu li a,
  #topmenu .right-topmenu li a {
    font-size: 16px;
  }
  #content {
    margin-top: 370px;
  }
  #container .first-block .liders {
    width: 430px;
  }
  #container .first-block .reports {
    width: 260px;
  }
  #container .tenprinciples .one-principle {
    width: 186px;
  }
  #container .partners #partners li {
    width: 149px;
  }
}
