a {
	text-decoration: none;
}
h1, h2, h3 {
	font-weight: normal;
	font-size: 30px;
	color: #3c3c3c;
	text-align: center;
}
.inner-lg {
	width: 1240px;
	margin: 0 auto;
	position: relative;
}
.inner-md {
	width: 940px;
	margin: 0 auto;
	position: relative;
}
.clear {
	clear: both;
}
.leftcol {
	float: left;
}
.rightcol {
	float: right;
}
.more {
	display: block;
	width: 127px;
	margin-left: auto;
	margin-right: auto;
	background: url('../img/bgbutton.png') no-repeat center center;
	text-align: center;
	padding: 10px 0;
	font-size: 14px;
	color: #fff;
}
.more:hover {
	opacity: 0.85;
}
.more.btn-white {
	color: #607c8f;
	background: url('../img/bgwbutton.png') no-repeat center center;
	width: 184px;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: lighter;
	color: #060606;
	background: #fff;
}
header, footer, #content, #slider {
	width: 100%;
	position: relative;
}
header {
	// background: url('../img/logo.png') no-repeat center center rgba(255, 255, 255, 0.97);
	background: rgba(255, 255, 255, 0.97);
	position: fixed;
	top: 0;
	border-bottom: 3px solid #f0f0f0;
	min-width: 1240px;
	z-index: 10;
}
#logo {
	display: block;
	width: 272px;
	height: 96px;
	background: url('../img/logo.png') no-repeat center top;
	position: absolute;
	top: -35px;
	left: 50%;
	margin-left: -136px;
}
#topmenu {
	text-align: center;
	margin: 50px 0;

	.left-topmenu {
		float: left;
		margin-left: 75px;
	}
	.right-topmenu {
		float: right;
		margin-right: 45px;
	}
	.left-topmenu, .right-topmenu {

		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;

			a {
				font-size: 14px;
				color: #2a3c3e;
				padding: 5px 0;
			}
			a:hover, a.current {
				color: #2b7fab;
				border-bottom: 2px solid #3293c6;
			}
		}
	}	
}
#topbar {
	position: fixed;
	top: 10px;
	right: 40px;
	z-index: 11;

	input[type=text] {
		float: left;
		padding: 5px 15px 10px 5px;
		width: 125px;
		height: 15px;
		color: #999;
		background-color: transparent;
		background: url('../img/bgsearch.png') no-repeat center left;
		-webkit-background-size: 100%;
		background-size: 100%;
		border: none;
		font-size: 12px;
		outline: none;
	}
	input[type=text]:hover {
		
	}
	input[type=submit] {
		float: left;
		border: none;
		margin-left: -15px;
		height: 21px;
		width: 20px;
		background-color: transparent;
		outline: none;
	}
}
#topsearch {
	float: left;
}
#lang {
	float: right;
	margin: 5px 0 0 10px;

	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 0;

		a {
			font-size: 14px;
			color: #9b9b9b;
		}
		a:hover, a.current {
			color: #3e3e3e;
		}
	}
}
#slider {
	overflow: hidden;
	height: 325px;
	min-width: 1240px;

	.slide {
		left: 50% !important;
		margin-left: -960px;

		.slide-inner {
			width: 100%;
			height: 100%;
			position: relative;

			.slide-block {
				position: absolute;
				bottom: 20px;
				left: 50%;
				margin-left: -360px;
				width: 720px;
				height: 170px;
				background: rgba(255, 255, 255, 0.75);

				.slide-block-inner {
					width: 670px;
					height: 140px;
					padding: 10px 30px;
				}
			}
		}
	}
}
.slide-block-inner {
	text-align: center;

	h3 {
		margin: 0 0 10px 0;
		height: 41px;
		overflow: hidden;
	}
	.textblock {
		height: 55px;
		margin-bottom: 10px;
	}
}
#prewbutton, #nextbutton {
	position: absolute;
	top: 50%;
	margin-top: -17px;
	width: 16px;
	height: 34px;
	opacity: 0.3;
}
#prewbutton:hover, #nextbutton:hover {
	opacity: 1;
}
#prewbutton {
	left: 10px;
	background: url('../img/sl.png') no-repeat center center;
}
#nextbutton {
	right: 10px;
	background: url('../img/sr.png') no-repeat center center;
}
#content {
	margin-top: 120px;
}
#container {

	.first-block {
		background: url('../img/bgfblock.png') no-repeat center center;

		.liders {
			width: 430px;
			padding: 60px 20px;

			.divider {
				width: 307px;
				height: 20px;
				margin: 20px auto;
				background: url('../img/bgdivider.png') no-repeat center center;
			}
		}
		.reports {
			width: 460px;
			padding: 60px 5px;

			.one-report {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}
			}
			h2 {
				font-size: 24px;
				margin-top: -10px;
				margin-bottom: 25px;
				color: #444;
			}
			img {
				width: 54px;
				height: auto;
				max-height: 24px;
				margin-right: 10px;
				margin-top: 5px;
			}
			a.title {
				color: #060606;
			}
			a.title:hover {
				color: #246a8f;
			}
		}
		.desc {
			text-align: center;
			width: 100px;
		}
		.cite {
			padding-left: 10px;
			width: 320px;

			p {
				margin-top: -5px;
				line-height: 18px;
			}
		}
		.name {
			color: #4d5260;
			font-size: 14px;
			font-weight: normal;
			line-height: 14px;
			margin-bottom: 5px;
		}
		.pos {
			color: #7b7b7b;
			font-size: 11px;
			font-weight: normal;
			line-height: 11px;
		}
	}
	.events {
		padding: 50px 0;
		background: url('../img/bgeblock.png') no-repeat center top #f9f9f9;

		h2 {
			font-size: 36px;
			margin-bottom: 30px;
			color: #5a5a5a;
		}

		#events-wrapper {
			width: 1730px;
			margin: 0 auto 40px auto;

			.one-event {
				vertical-align: top;
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				width: 235px;
				height: 450px;
				background: #fff;
				border: 1px solid #e9e9e9;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				
				img {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					width: 235px;
					height: auto;
				}
				.more {
					display: block;
					background: #fff;
					width: auto;
					color: #030303;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				.more:hover {
					color: #246a8f;
				}
			}
            .one-event:nth-child(7) {
                margin-right: 0;
            }
			.event-content-inner {
				height: 385px;
				padding-bottom: 25px;
				border-bottom: 1px solid #e9e9e9;
                overflow: hidden;
			}
			.event-info-inner {
				padding: 20px 10px 0 10px;

				.title {
					color: #444;
					font-size: 16px;
					font-weight: normal;
					line-height: 16px;
				}
				.title:hover {
					color: #246a8f;
				}
				.date {
					margin: 10px 0;
					font-size: 12px;
					color: #2c6188;
				}
				.textblock p {
					line-height: 19px;
				}
			}
		}
	}
	.allevents {

		#events-wrapper {
			width: 1730px;
			margin: 0 auto 40px auto;

			.one-event {
				height: auto;
				float: none;
				width: 235px;

				.event-content-inner {
					height: auto;
				}
			}
		}
	}
	.tenprinciples {
		padding: 50px 0;
		background: url('../img/bgtenprinciples.png') no-repeat center center #fff;
        
       h2 {
			font-size: 36px;
			color: #5a5a5a;
           margin: 0;
		}
        .divider {
            width: 84px;
            height: 20px;
            margin: 15px auto;
            background:  url('../img/bgdivider2.png') no-repeat center center;
        }
        h3 {
            font-size: 16px;
            color: #565656;
            line-height: 20px;
            text-align: center;
            font-weight: normal;
            margin-bottom: 15px;
        }
        h3 + .textblock p {
            font-size: 12px;
            color: #565656;
            font-weight: normal;
            line-height: 20px;
            text-align: center;
            margin-bottom: 40px;
        }
        .one-principle {
            width: 235px;
            display: inline-block;
            vertical-align: top;
            margin-right: -4px;
            text-align: center;
            
            .m-1 {
                margin-bottom: 25px;
            }
            .m-2 {
                margin-bottom: 11px;
            }
            h3 {
                font-size: 16px;
                margin-top: 15px;
                text-align: center;
                color: #444;
                font-weight: normal;
            }
            h4 {
                font-weight: normal;
                font-size: 14px;
                color: #2a5f86;
                margin-bottom: 5px;
            }
            h4 + span {
                width: 200px;
                text-align: center;
                display: block;
                margin: 0 auto 20px auto;
            }
        }
	}
	.join {
		padding: 50px 0;
		background: url('../img/bgjoin.png') no-repeat center center #246a8f;

		h2 {
			font-size: 36px;
			color: #fff;
			font-weight: normal;
			margin-bottom: 30px;
			margin-top: 0;
		}
		.textblock p {
			color: #fff;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			margin-bottom: 50px;
		}
	}
	.partners {
		padding: 50px 0;
		background: #fff;
		border-bottom: 4px solid #3293c6;

		#partners {
			text-align: center;
			list-style: none;

			li {
				display: inline-block;
				margin-right: -4px;
				vertical-align: top;
				text-align: center;
				width: 185px;
			}
		}
	}
}
footer {
	padding: 30px 0;
	background: url('../img/bgfooter.png') no-repeat center center;
}
#bottommenu {
	list-style: none;
	text-align: center;
	margin-bottom: 30px;

	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;

		a {
			font-size: 14px;
			color: #2a3c3e;
			padding: 5px 0;
		}
		a:hover, a.current {
			border-bottom: 2px solid #3293c6;
		}
	}
}
#bottomlogo {
	display: block;
	width: 272px;
	height: 96px;
	background: url('../img/logo.png') no-repeat center top;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -136px;
}
#hodlogo {
	display: block;
	width: 96px;
	height: 64px;
	position: absolute;
	right: 30px;
	top:80px;
	background: url('../img/hodlogo.png') no-repeat center center;
}
#copyrights {
	float: left;
	margin-top: 40px;
	margin-left: 15px;
	margin-bottom: 60px;

	p {
		margin-top: 5px;
		font-size: 11px;
		color: #818181;
	}
}

@media screen and (max-width: 1750px) {

	#container .events #events-wrapper {
		width: 1235px;
	}
	.index #container .events #events-wrapper .one-event:nth-child(7), .index #container .events #events-wrapper .one-event:nth-child(6) {
		display: none;
	}
}
@media screen and (max-width: 1260px) {

	header, #slider  {
		min-width: 940px;
	}
	.inner-lg {
		width: 940px;
	}
	#topmenu .left-topmenu {
		margin-left: 0;
	}
	#topmenu .right-topmenu {
		margin-right: 0;
	}
	#logo {
		top: -115px;
	}
	#topmenu {
		margin: 130px 0 30px 0;
	}
	#content {
		margin-top: 180px;
	}
	#container .events #events-wrapper {
		width: 741px;
	}
	.index #container .events #events-wrapper .one-event:nth-child(5), .index #container .events #events-wrapper .one-event:nth-child(4) {
		display: none;
	}
}
@media screen and (max-width: 960px) {
	.inner-lg, .inner-md {
		width: 740px;
	}
	#slider, header {
		min-width: 740px;
	}
	#topmenu .left-topmenu, #topmenu .right-topmenu {
		float: none;
	}
	#topmenu .left-topmenu li , #topmenu .right-topmenu li {
		display: block;
		margin: 0;
		margin-bottom: 15px;
	}
	#topmenu .left-topmenu li a, #topmenu .right-topmenu li a {
		font-size: 16px;
	}
	#content {
		margin-top: 370px;
	}
	#container .first-block .liders {
		width: 430px;
	}
	#container .first-block .reports {
		width: 260px;
	}
	#container .tenprinciples .one-principle {
		width: 186px;
	}
	#container .partners #partners li {
		width: 149px;
	}
}